.cards {
    width: 100%;
    margin-left: 5%;

    .card {
        border: 1px solid gray;
        box-shadow: 1px 1px 3px #888;
        border-top: 10px solid #ccc;
        min-height: 250px;
        margin: 10px;

        img {
            border-radius: 50%;
            width: 70px;
            margin: 10px;
        }

        h1 {
            font-weight: lighter;
            margin-left: 100px;
            margin-top: -70px;
        }

        p {
            margin-top: 50px;
            margin-left: 35px;
            font-family: segoe ui;
            line-height: 1.4em;
            font-size: 1.2em;
        }

        span {
          display: block;
          margin-bottom: 5px;
        }
    }
}
